#startPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/sfondo.jpeg');
    background-size: 58%;
    background-position: right;
    background-repeat: no-repeat;
    background-color: black;
}

#startButton {
    position: fixed;
    bottom: 20%;
    left: 9%;
    padding: 15px 40px;
    font-size: large;
    font-family: "Monserrat";
    border-width: medium;
    border-color: green;
    border-style: solid;
    border-radius: 0;
    background-color: black;
    color: green;
    transition: 0.5s;
    cursor: pointer;
}

#startButton:hover,#startButton.active, #startButton:active{
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: green;
    color: black;
    opacity: 1;
}

div.slide.visible{
    opacity: 1;
    z-index: 1;
}

div.slide.hidden{
    opacity: 0;
    z-index: -100;
}

.titleText{
    position: fixed;
    top: 12%;
    left: 6%;
    color: green; 
    font-family: "Monserrat";
    font-size: 6vw;
}

#forwardButton{
    position: fixed;
    left: 100px;
    bottom: 150px;
}

#backButton{
    position: fixed;
    left: 100px;
    bottom: 50px;
}

#leftButton{
    position: fixed;
    left: 50px;
    bottom: 100px;
}

#rightButton{
    position: fixed;
    left: 150px;
    bottom: 100px;
}

.buttonComands{
    color: green; 
    font-family: "Monserrat";
    height: 50px;
    width: 50px;
    border-width: medium;
    border-color: green;
    border-style: solid;
    border-radius: 10px;
    background-color: transparent;
}

.buttonComands:active, .buttonComands.active, #screenButton:active, #screenButton.active{
    color: white; 
    background-color: green;
}

@font-face {
    font-family: "Monserrat";
    src: url("font/Montserrat-VariableFont_wght.ttf");
}

#screenButton{
    position: fixed;
    right: 125px;
    bottom: 100px;
    color: green; 
    font-family: "Monserrat";
    height: 50px;
    width: 100px;
    border-width: medium;
    border-color: green;
    border-style: solid;
    border-radius: 10px;
    background-color: transparent;
}

#liveRovir{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/imgTest.jpeg');
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-color: black;
}
